<footer>
    <div class="container f_container">
    <div class="f_social_icon">
       <a href="https://www.instagram.com/mrvasusniper?igsh=MWxmNG02N2dsMDBhdw==" target="main"><i class="fa-brands fa-instagram"></a></i>
       <a href="https://www.facebook.com/share/18x7GxVoPJ/" target="main"><i class="fa-brands fa-facebook"></a></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="f-text"><i>Wanderlust Private Limited</i></div>
    <div class="f_info">
        <a href="/privicy">privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>