<%layout('/layouts/template') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <div><h3>Create New listing</h3></div>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
       <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input class="form-control" name="listing[title]" placeholder="Post Title" type="text" required>
        <div class="valid-feedback">Title looks Good</div>
        <div class="invalid-feedback">Please Enter Title</div>
       </div>

       <div class="mb-3">
        <label for="Image" class="form-lable">Image-url</label>
        <input class="form-control" name="listing[image]" placeholder="Enter image/url" type="text">
       </div>

       <div class="mb-3">
        <label for="Description" class="form-lable">Description</label>
        <textarea class="form-control" name="listing[description]" placeholder="Enter description" type="text" required></textarea>
        <div class="valid-feedback">Description looks Good</div>
        <div class="invalid-feedback">Please Enter Description</div>
      </div>
      <div class="row">
       <div class="mb-3 col-md-4 ">
        <label for="Price" class="form-lable">Price</label>
        <input class="form-control" name="listing[price]" placeholder="1200" type="number" required>
       
        <div class="valid-feedback">Price looks Good</div>
        <div class="invalid-feedback">Please Enter Price</div>
      </div>
     <div class="mb-3 col-md-8">
        <label for="Location" class="form-lable">Location</label>
        <input class="form-control" name="listing[location]" placeholder="Noida, Gurgaon" type="text" required>
        <div class="valid-feedback">Location looks Good</div>
        <div class="invalid-feedback">Please Enter Location</div>
      </div>
    </div>

     <div class="mb-3">
        <label for="Country" class="form-lable">Country</label>
        <input class="form-control" name="listing[country]" placeholder="India" type="text" required>
        <div class="valid-feedback">Country looks Good</div>
        <div class="invalid-feedback">Please Enter Country</div>
      </div>
        <button class="btn btn-dark">add</button>
    </form>
</div>
</div>
</body>