<%layout('/layouts/template') %>
<body>
<div class="row ">
    <div class="col-8 offset-2">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <p><%=message %></p>
        </div>
     </div>
</div>
</body>